.home-section {
    padding: 2.5vw 7.5vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}

.home-section .home-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.home-section .home-left{
    display: flex;
    flex-direction: column;
    flex: 0 0 70%;
}

.home-section .home-left .actions{
    display: flex;
    margin-bottom: 20px;
}

.home-section .home-left .action-card{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 10px 30px;
    flex: 0 0 30%;
    margin-right: 35px;
}

.home-section .home-left .actions .load,
.home-section .home-left .actions .transfer,
.home-section .home-left .actions .send{
    color: white;
    padding: 8px;
    border-radius: 50%;
}

.home-section .home-left .actions .load{
    background-color: #7591ed;
}

.home-section .home-left .actions .transfer{
    background-color: #f6a9ae;
}

.home-section .home-left .actions .send{
    background-color: #a383fa;
}

.home-section .home-left .actions .transfer{
    background-color: #f6a9ae;
}

.home-section .home-left .actions p{
    font-size: 14px;
}

.home-section .home-left .banner .card img{
    width: 100%;
    height: 200px;
}

.home-right .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 60px;
}


.home-right .card .profile{
    font-size: 20px;
    font-weight: 800;
}

.home-right .card img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.home-right .card .user-name{
    font-size: 16px;
    font-weight: 800;
}

.home-right .card .action-btn{
    display: flex;
}

.home-right .card  button{
    background: transparent;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #556ee6;
    color: #556ee6;
}

.home-bottom .card .title{
    font-size: 20px;
    font-weight: 800;
}

.home-bottom .card .utility-items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.home-bottom .card .utility-items .utility-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 20%;
    margin-bottom: 20px;
}

.home-bottom .card .utility-items .utility-item .logo{
    background: #556ee6;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
}

.home-bottom .card .utility-items .utility-item .name{
    font-size: 14px;
    font-weight: 600;
}