.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8fb;
}

.container .login{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    padding: 32px 16px;
    border-radius: 5px;
}

.login .title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.login .login-error{
    background-color: #fde1e1;
    padding: 12px;
    color: #7f3737;
    font-size: 14px;
    margin-bottom: 10px;
}

.login .login-form{
    display: flex;
    flex-direction: column;
}

.login .login-form .form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.login .login-form .eye-btn{
    position: absolute;
    font-size: 16px;
    bottom: 20%;
    right: 5%;
    cursor: pointer;
}

.login .login-form .form-field input{
    padding:8px;
    width: 300px;
    outline: none;
}

.login .login-form .login-btn{
   padding: 10px;
   font-size: 16px;
   cursor: pointer;
   border-radius: 5px;
   border:none;
   background-color: #556ee6;
   color: #fff;
}

.error{
    color: rgb(231, 46, 46);
    font-size: 12px;
}

.border-red{
    border-color: rgb(231, 46, 46);
}

/* loader */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    background: #000;
    position: absolute;
    z-index: 1000
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  