.dashboard .content{
   display: flex;
    background-color: #f8f8fb;
}
/* nav */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 1vw 5vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav-bar .nav-left{
    display: flex;
    align-items: center;
}

.nav-bar .nav-left .menu{
   margin-right: 20px;
   cursor: pointer;
}

.nav-bar .nav-left .logo{
    font-size: 24px;
    font-weight: bold;
    margin-right: 40px;
}

.nav-bar .nav-left .search-bar input{
    padding: 10px;
    border: none;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 10px;
    width: 200px;
}

.nav-right{
    display: flex;
    align-items: center;
}

.nav-right .total-balance{
    text-align: end;
    margin: 20px;
    font-size: 14px;
}

.nav-right .total-balance .balance{
    display: block;
}

.nav-right .notification{
    margin-right: 20px;
    cursor: pointer;
}

.nav-right .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.nav-right .name{
    font-size: 14px;
    cursor: pointer;
    margin-right: 20px;
}

.nav-right .logout{
    cursor: pointer;
}

/* sidebar */

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    background: #fff;
}

.sidebar .item{
    padding: 16px 0;
    width: 100%;
    color: #000;
    text-decoration: none;
    border-bottom: .1px solid #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active {
    border-left:#556ee6;
}

.sidebar .item .icon{
    font-size: 32px;
    font-weight: lighter !important;
}

.sidebar .item .label{
    font-size: 14px;
}

.open-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 100vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    background: #fff;
}

.open-sidebar .item{
    padding: 16px 0;
    width: 100%;
    color: #000;
    text-decoration: none;
    border-bottom: .1px solid #f9f9f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 25px;
    margin: 5px 0;
}

/* card */
.card {
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  background-color: #fff;
}
